@page "/productos"

@using Supermercado.DAO;
@using Supermercado.Data;

@inject NavigationManager NavigationManager

<h3>Productos</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID Area</th>
                        <th scope="col">EAN</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var producto in listarProductos())
                    {
                        <tr>
                            <td>@producto.idArea</td>
                            <td>@producto.ean</td>
                            <td>@producto.descripcion</td>
                            <td>@producto.precio</td>
                            <td>@producto.cantidad</td>
                            <td>
                                <button type="button" class="btn btn-success" @onclick="() => enviarId(producto.id)">Modificar</button>
                                <button type="button" class="btn btn-danger" @onclick="() => eliminarProducto(producto.id)">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <NavLink href="formularioProducto">
        <button class="btn btn-primary">Crear producto</button>
    </NavLink>
</div>

@code {
    private List<Producto> listarProductos()
    {
        List<Producto> p = new List<Producto>();
        CRUD crud = new CRUD();
        p = crud.listarProductos();
        return p;
    }

    private void eliminarProducto(int id)
    {
        CRUD crud = new CRUD();
        crud.eliminarProducto(id);
    }

    private void enviarId(int id)
    {
        NavigationManager.NavigateTo("modificarProducto/"+id, forceLoad: true);
    }
}